{% if sales %}
    <div class="row mb-3 p-0.5">
        <h2> Sales ({{ x_sold }} Sold)</h2>
        <table class="table">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Price per unit</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
            </tr>
            {% for line in sales %}
                <tr>

                    <td>
                        <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=line.cart.id %}">
                            {{ line.cart.id }}
                        </a>
                    </td>
                    <td>
                        {% if line.cart.owner %}
                            <a href="{% url 'partner_customer_details' partner_slug=partner.slug user_id=line.cart.owner.id %}">
                                {{ line.cart.owner.username }} ({{ line.cart.owner.email }})
                            </a>
                        {% else %}
                            {{ line.cart.email }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=line.cart.id %}">
                            {{ line.cart.date_submitted }}
                        </a>
                    </td>
                    <td>{{ line.price_per_unit_at_submit }}</td>
                    <td>{{ line.quantity }}</td>

                    <td>{{ line.get_subtotal }}</td>

                    <td>
                        {% if line.cart.at_pos %}
                            {{ line.cart.payment_partner }}
                        {% else %}
                            Online
                        {% endif %}
                    </td>
                    <td>{{ line.status_text }}</td>
                </tr>

            {% endfor %}
        </table>

    </div>
{% endif %}
{% if po_lines %}
    <div class="row mb-3 p-0.5">
        <h2> Purchase Order Lines ({{ x_purchased }} Purchased)</h2>
        <table class="table">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Distributor</th>
                <th scope="col">Invoice/PO Number</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost Per Item (with fees)</th>
            </tr>
            {% for po_line in po_lines %}
                <tr>
                    <td>{{ po_line.po.date }}</td>
                    <td>{{ po_line.po.distributor }}</td>
                    <td>
                        <a href="{% url 'po_details' partner_slug=partner|slugify po_id=po_line.po.po_number %}">
                            {{ po_line.po.po_number }}
                        </a>
                    </td>
                    <td>{{ po_line.received_quantity }}</td>
                    <td>{{ po_line.cost_per_item }} ({{ po_line.actual_cost }})</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endif %}
{% if inventory_log %}
    <div class="row mb-3 p-0.5">
        <h2> Inventory Log </h2>
        <table class="table">
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">Reason</th>
                <th scope="col">In</th>
                <th scope="col">Change</th>
                <th scope="col">Remaining</th>
            </tr>
            {% for line in inventory_log %}
                <tr>

                    <td>
                        {{ line.timestamp }}
                    </td>
                    <td>
                        {{ line.reason }}
                    </td>
                    <td>
                        {% if line.line %}
                            <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=line.line.cart.id %}">
                                {{ line.line.cart.id }}
                            </a>
                        {% endif %}
                        {% if line.po %}
                            <a href="{% url 'po_details' partner_slug=partner|slugify po_id=line.po.po_number %}">
                                {{ line.po }}
                            </a>
                        {% endif %}

                    </td>
                    <td>
                        {% if line.change_quantity %}
                            {{ line.change_quantity }}
                        {% endif %}
                    </td>
                    <td>
                        {% if line.after_quantity != None %}
                            {{ line.after_quantity }}
                        {% else %}
                            Old
                        {% endif %}

                    </td>


                </tr>

            {% endfor %}
        </table>

    </div>
{% endif %}