{% extends 'container.html' %}
{% load static %}

{% block title %}Distributors{% endblock %}
{% block extrastyle %}


{% endblock %}
{% block content %}
    <h2>Existing Data</h2>
    <div class="row">
        {% for dist in distributors %}
            <div class="col-md-3">
                <h3><a href="{{dist.id}}">{{ dist }}</a></h3>
                {% if dist.dist_name == "Hobbytyme" %}
                    <a href="{% url 'hobbytyme_backorder_report' partner_slug=partner.slug %}" class="btn btn-info btn-sm">View Backorders</a>
                {% endif %}
            </div>

        {% endfor %}
    </div>

{% endblock %}