{% extends 'container.html' %}
{% load static %}

{% block title %}Distributors{% endblock %}
{% block extrastyle %}


{% endblock %}
{% block content %}
    <h2>Upload new data</h2>
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        Please upload an inventory record for the distributor: <br>
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <h2>Existing Data</h2>
    <ul>
        {% for inventory in inventories %}
            <li>
                <a href="{{ inventory.file.url }}">{{ inventory.filename }} {{ inventory.timestamp }}</a>
                <ul>
                    <li>Discord Template:
                        {% for item in inventory.annotate_inventory.all %}
                            <div>
                                {{ item.product_name }} | MSRP: ${{ item.product_msrp }} | Our Price:
                                ${{ item.product_map }}
                            </div>
                        {% endfor %}
                    </li>
                    <li>Order Form Template:
                        {% for item in inventory.annotate_inventory.all %}
                            <div>
                                {{ item.dist_number }} {{ item.dist_name }} aka {{ item.product_name }}
                            </div>
                        {% endfor %}
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}