{% extends 'container.html' %}
{% load static %}

{% block title %}Referrals by {{ referrer }}{% endblock %}
{% block extrastyle %}


{% endblock %}
{% block content %}
    <h2>{{ referrer }}</h2>
    <h3>Kickback Earnings {{ kickback_earnings }}</h3>
    <table class="table">
        <tr>
            <th>Code</th>
            <th>Clicks</th>
            <th>Submitted Carts</th>
            <th>Sales Total</th>

            <th>Kickback</th>

        </tr>
        {% for code, details in code_details.items %}
            <tr>
                <td>
                    <a href="{% url 'referrer_code_report' partner_slug=partner.slug referrer_slug=referrer.slug code=code %}">
                        {{ code }} (expires {{ code.expires_on }})
                    </a>
                </td>
                <td>
                    {{ details.click_count }}
                </td>
                <td>
                    {{ details.cart_count }}
                </td>
                <td>
                    {{ details.sales }}
                </td>
                <td>
                    {{ details.kickback }}
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}