{% extends 'container.html' %}
{% load templatehelpers %}
{% load static %}

{% block title %}Sales Overview{% endblock %}
{% block extrastyle %}

    <!-- Custom styles for this template -->

{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Gross</th>
            <th scope="col">Post Tax</th>

        </tr>
        </thead>
        {% for day in gross_by_day %}
            <tr>
                <td>{{ day.date_paid__date }}</td>
                <td>{{ day.gross }}</td>
                <td>{{ day.post_tax }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}