{% csrf_token %}
<div class="gap-1">
    {% for field in form %}
        {% if not field.is_hidden %}
            <div class="flex gap-1">
                {{ field.errors }}
                <div class="flex w-1/4 max-w-[200px]">
                    {{ field.label_tag }}
                </div>
                <div class="flex-grow">
                    {{ field }}
                    {% if field.help_text %}
                        <span class="help"><small><em>{{ field.help_text|safe }}</em></small></span>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
</div>