{% extends 'checkout/email/email_base.html' %}
{% block content %}
    Your order is ready for pickup.
    <br>
    Store Location and hours:
    <br>
    {{ order.pickup_partner.address_and_hours_info }}
{% endblock %}
{% block footer %}
    Orders for which payment has not been remitted may be returned to stock 14 days after a Ready for Pickup email has been sent.

    In-store pickup orders which have been paid will be held for pickup for at least 84 days after the Ready for Pickup email is sent. Starting on day 85, a storage fee of $1 per day may be applied to the order. In the event that the storage fees incurred equal or exceed the total paid toward the order, the order will be cancelled without refund and the items will be returned to stock.
{% endblock %}
