{% load templatehelpers %}
{% if cart.lines.all %}
    {% with status_col=cart.not_only_digital seller_col=cart.single_partner %}
        <table class="table checkout-table">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Type</th>
                {% if seller_col %}
                    <th scope="col">Seller</th>
                {% endif %}
                {% if status_col %}
                    <th scope="col">Status</th>
                {% endif %}
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal {% if manage %}(with tax){% endif %}</th>
            </tr>
            </thead>
            {% for line in cart.lines.all %}
                <tr>
                    <td>
                        {% if manage %}
                            {% if line.item.product %}
                                <a href="{% url  'manage_product' partner_slug=partner.slug product_slug=line.item.product.slug %}">
                                    {{ line.item.product.name }}
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% site_url cart %}{% url 'product_detail' product_slug=line.item.product.slug %}">
                                {{ line.item.product.name }}
                            </a>
                        {% endif %}

                        {% if line.item.description %}
                            <br>
                            {{ line.item.description }}
                        {% endif %}
                        {% if manage %}
                            {% include 'intake/snippets/line_label_button.html' with checkoutline_id=line.id %}
                        {% endif %}
                        {% if line.is_preorder %}
                            <br>
                            <small> Expected release date {{ line.item.product.release_date }} </small>
                        {% endif %}
                        {% if manage and line.item and not line.is_preorder %}
                            <br>
                            <small> {{ line.item.current_inventory }} in stock
                                {% for faction in line.item.product.factions.all %}
                                    • {{ faction }}
                                {% endfor %}
                            </small>

                        {% endif %}

                    </td>
                    <td>{% include 'shop/snippets/item_type_icon.html' with item=line.item %}</td>

                    {% if seller_col %}
                        <td>
                            {% if line.partner_at_time_of_submit %}
                                {{ line.partner_at_time_of_submit }}
                            {% else %}
                                {{ line.item.partner }}
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if status_col %}
                        <td>
                            <text>{{ line.status_text|linebreaks }}</text>
                            {% if manage and cart.status != "Cancelled" and not line.cancelled %}
                                <a class="btn btn-danger"
                                   href="{% url 'partner_cancel_line' cart_id=past_cart.id line_id=line.id partner_slug=partner.slug %}">
                                    {% if  cart.status != "Completed" %} Cancel {% else %} Return {% endif %}
                                </a>
                            {% endif %}
                            {% if manage and cart.status != "Cancelled" and cart.status != "Completed" and not line.ready and not line.fulfilled %}
                                <a class="btn btn-primary"
                                   href="{% url 'partner_ready_line' cart_id=past_cart.id line_id=line.id partner_slug=partner.slug %}">
                                    Ready
                                </a>
                            {% endif %}
                            {% if manage and cart.status != "Cancelled" and cart.status != "Completed" and not line.fulfilled %}
                                <form method="get"
                                      action="{% url 'partner_complete_line' cart_id=past_cart.id line_id=line.id partner_slug=partner.slug %}">
                                    <button type="button"
                                            class="collapsible btn btn-secondary fa-solid fa-paper-plane"></button>
                                    <div class="collapse-content"> <!-- Order field is big, hide it when not needed -->
                                        <label for="cart">Order:</label><input type="number" id="cart" name="cart"/>
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Complete"/>
                                </form>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ line.quantity }}
                        {% if manage and cart.status != "Cancelled" and line.quantity > 1 %}
                            <button type="button"
                                    class="collapsible btn btn-secondary fa-solid fa-code-branch fa-rotate-90">
                            </button>
                            <div class="collapse-content">
                                <form method="get"
                                      action="{% url 'partner_split_line' cart_id=past_cart.id line_id=line.id partner_slug=partner.slug %}">
                                    <label for="split_num">Split:</label>
                                    <input type="number" id="split_num" name="split_num"
                                           min="1" max="{{ line.quantity|add:-1 }}"/>
                                    <input class="btn btn-primary" type="submit" value="Split"/>
                                </form>
                            </div>

                        {% endif %}
                    </td>

                    <td>{{ line.get_price }}
                        {% if line.get_price != line.get_pre_discount_price %}
                            <span style="text-decoration: line-through;">{{ line.get_pre_discount_price }}</span>
                        {% endif %}
                    </td>
                    <td>{{ line.get_subtotal }}
                        {% if line.get_price != line.get_pre_discount_price %}
                            <span style="text-decoration: line-through;">{{ line.get_pre_discount_subtotal }}</span>
                        {% endif %}
                        {% if manage %}
                            ({{ line.get_subtotal_with_tax }})
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                {% if seller_col %}
                    <td></td>
                {% endif %}
                {% if status_col %}
                    <td></td>
                {% endif %}
                <td></td>
                <td>Subtotal:</td>
                <td>{{ cart.get_total_subtotal }}</td>
            </tr>
            {% if cart.is_shipping_required %}

                <tr>
                    <td></td>
                    <td></td>
                    {% if seller_col %}
                        <td></td>
                    {% endif %}
                    {% if status_col %}
                        <td></td>
                    {% endif %}
                    <td></td>
                    <td>Shipping:</td>
                    <td>
                        {% if cart.final_ship %}
                            {{ cart.final_ship }}
                        {% else %}
                            {% if cart.can_get_shipping %}
                                {{ cart.get_shipping }}
                            {% else %}
                                Need address
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td></td>
                <td></td>
                {% if seller_col %}
                    <td></td>
                {% endif %}
                {% if status_col %}
                    <td></td>
                {% endif %}
                <td></td>
                <td>Tax:</td>
                <td>
                    {% if cart.final_tax %}
                        {{ cart.final_tax }}
                    {% else %}
                        {% if cart.can_get_tax %}
                            {{ cart.get_tax }}
                        {% else %}
                            Need address
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                {% if seller_col %}
                    <td></td>
                {% endif %}
                {% if status_col %}
                    <td></td>
                {% endif %}
                <td></td>
                {% if cart.final_total %}
                    <td>Total:</td>
                    <td>{{ cart.final_total }}</td>
                {% else %}
                    <td>Estimated total:</td>
                    <td>{{ cart.get_estimate_total }}</td>

                {% endif %}
            </tr>
            {% if cart.total_paid %}
                <tr>
                    <td></td>
                    <td></td>
                    {% if seller_col %}
                        <td></td>
                    {% endif %}
                    {% if status_col %}
                        <td></td>
                    {% endif %}
                    <td></td>
                    <td>Amount Paid:</td>
                    <td>{{ cart.total_paid }}</td>
                </tr>
            {% endif %}
            {% if cart.discount_code %}
                <tr>
                    <td>Discount code applied: {{ cart.discount_code.code }}</td>
                    <td></td>
                    {% if seller_col %}
                        <td></td>
                    {% endif %}
                    {% if status_col %}
                        <td></td>
                    {% endif %}
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </table>
    {% endwith %}
{% else %}
    <p> Items you add to your cart will appear here.</p>
{% endif %}