{% extends 'container.html' %}
{% load static %}

{% block title %}Backorders{% endblock %}


{% block content %}
    {% for item in items %}
        <div>
            <a href="{% url 'manage_product' partner_slug=partner.slug product_slug=item.product.slug %}">
                {{ item.product.name }}

            </a> x {{ item.open_item_qty }}
            <button type="button" class="collapsible btn btn-secondary">Expand</button>
            <table class="table collapse-content">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price per unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                </tr>
                {% for line in item.lines %}
                    <tr>

                        <td>
                            <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=line.cart.id %}">
                                {{ line.cart.id }}
                            </a>
                        </td>
                        <td>
                            {% if line.cart.owner %}
                                <a href="{% url 'partner_customer_details' partner_slug=partner.slug user_id=line.cart.owner.id %}">
                                    {{ line.cart.owner.username }} ({{ line.cart.owner.email }})
                                </a>
                            {% else %}
                                {{ line.cart.email }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=line.cart.id %}">
                                {{ line.cart.date_submitted }}
                            </a>
                        </td>
                        <td>{{ line.price_per_unit_at_submit }}</td>
                        <td>{{ line.quantity }}</td>

                        <td>{{ line.get_subtotal }}</td>

                        <td>
                            {% if line.cart.at_pos %}
                                POS
                            {% else %}
                                {% if line.cart.delivery_method == line.cart.SHIP_ALL %}
                                    Ship
                                {% else %}
                                    Pickup
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ line.status_text }}</td>
                    </tr>

                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}