{% extends 'container.html' %}
{% load static %}

{% block title %}POS Sales for {{ date }}{% endblock %}

{% block content %}
    <h1>POS Sales for {{ date }}</h1>

    <div>
        <form method="get">
            <label for="date">Change Date:</label>
            <input type="date" id="date" name="date" value="{{ date|date:'Y-m-d' }}">
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
    <br>
    {% if sales %}
        {% include 'partner/snippets/daily_sales_table.html' with sales=sales %}
    {% else %}
        <p>No POS sales found for this day.</p>
    {% endif %}
    {% if sold_out %}
        <h2>Sold out items</h2>
        {% include 'partner/snippets/daily_sales_table.html' with sales=sold_out %}
    {% else %}
        <p>No items sold out.</p>

    {% endif %}
{% endblock %}
